/**
*
* Component "cardbox"
*
**/

$heightCardBox: 100px;

@include component(cardbox) {
	margin-bottom: 5px;
	
	height: $heightCardBox;

	overflow: hidden; 
	
	@include part(card) {
		height: 100%;
		background-color: $clPaper;	
		overflow: hidden; 
	}

	@include part(content) {
		
	}

	@include part(item) {
		padding-top: 12px;
		
		@include option(color) {
			text-align: center;
			height: $heightCardBox;
			background-color: $clPrimary;
		}
	}

	@include part(title) {
		color: $clText;
		font-size: 17px;
		font-family: $ffPrimary;
		font-weight: 500;

		small { font-weight: normal; }
	}

	@include part(action) {
		position: absolute;
		top: 3px; right: 3px;  

		padding-top: 7px;
		height: ($heightCardBox - 6); 
		width: ($heightCardBox - 6);

		color: $clText;
		font-size: 24px;
		text-align: center;

		background-color: $clNeutralDarker;

		&:hover,
		&:focus {
			color: $clPaper;
			background-color: $clNeutralDarkest;
			text-decoration: none;
		}
	}

	@include part(detail) {
		padding-top: 1px;

		color: $clNeutralDarkest;
		font-size: 15px;
		font-family: $ffPrimary;
		font-weight: 500;


		@include option(color) {
			color: $clPrimary;
		}
	}

	@include part(menue) {
		margin: 0;
		padding: 3px 0 0 10px;

		list-style-type: none;
		li {			
			display: inline-block;

			a {
				display: inline-block;
				padding: 6px 9px;
				width: $heightCardBox - 6px;
				height: $heightCardBox - 6px;

				color: $clText;
				font-size: 21px;

				border: 3px solid $clNeutralDark;
				&:hover,
				&:focus {
					text-decoration: none;
					color: $clPaper;
					border-color: $clNeutralDarker;
					background-color: $clNeutralDarkest;
				}
			}
		}
	}
}
