/**
*
* "gb-btn"-Component
*
**/

@include component(gb-btn) {

	/*==========  Bootstrap-Resets  ==========*/

	display: inline-block;
	margin-bottom: 0; // For input.btn
	// font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	white-space: nowrap;

	/*==========  Styles  ==========*/

	padding: 10px 15px;
	color: $clNeutralDarkest;
	font-size: 15px;
	font-family: $ffPrimary;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 100%;

	border: 3px solid $clNeutralDarker;
	border-radius: 3px;

	background-color: transparent;

	@include option(accent) {
		color: $clAction;
		border-color: $clAction;
	}

	&:hover,
	&:focus {
		color: $clPaper;
		border-color: $clAction;
		background-color: $clAction;
		text-decoration: none;
		outline: none;
	}

	&:active {
		outline: 0;
		background-image: none;
	}

}
