/**
*
* Layoutstyle for headroom-component
*
**/

@include component(headroom) {
	padding-top: (($heightHeadroom - $heightCongregationBox) - 39);
	height: $heightHeadroom;
	background-color: $clNeutralDark;
}