/**
*
* Global Variables of the app
*
**/

$widthSidebar: 230px;

$heightHeadroom: 115px;

// Optical space from the left side of the browser
$spaceLeftSidebar: 30px;

$heightCongregationBox: 36px;

$spaceTopPageContent: 36px;

// Border-radius size
$globalBorderRadius: 3px;



